* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
    text-align: center;
}

.d {
    color: #ff0000;
}
.d_b {
    background-color: #ff0000;
    color: #fff;
}

.w {
    color: #b46017;
}

.w_b {
    background-color: #b46017;
    color: #fff;
}

.n {
    color: #0244f8;
}

.n_b {
    background-color: #0244f8;
    color: #fff;
}

.s {
    color: green;
}

.s_b {
    background-color: green;
    color: #fff;
}

.main_container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.main_cart_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.summary_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ddd;
    padding: 20px;
    height: fit-content;
}

.summary_container header {
    font-weight: 600;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
    border-top: 1px solid #919090;
    border-bottom: 1px solid #919090;
}
.data_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total {
    display: flex;
    gap: 20px;
}

.btns {
    display: flex;
}

.cart_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow: scroll;
    height: 300px;
}

.cart_container header {
    font-weight: 600;
}

.cart_items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart_item {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;
    padding: 5px 0;
    border-bottom: 1px solid #919090;
}

.cart_item_btns {
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

@media (max-width: 641px) {
    /* --------- Mobile  ------------ */
    
    .main_cart_container {
        grid-template-columns: 1fr;
    }
}